{{>header}}

<main class="pictures">

<div class="center-photos">
  <div class="main-img">
    <a id="large-image-link" href="{{mainimg}}" target="_blank">
      <img id="large-image" name="preview" src="{{mainimg}}"/>
    </a>
  </div>
  <div class="mini-imgs">
    <img class="preview" name="main-photo" src="{{mainimg}}"/>
      {{#each additionalimgs as |item index|}}
    		<img class="preview" name="{{index}}" src="{{image}}"/>
      {{/each}}
  </div>
</div>

</main>
<script type="text/javascript" src="/gallery.js" charset="utf-8"></script>
